<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>
<head>
    <meta charset="UTF-8">
    <title>Buypage</title>
</head>
<body>
        <div class="menu">
            <a class="menu_link" href="http://127.0.0.1:8000/">Главная</a>
            <a class="menu_link" href="#">Скидки</a>
            <a class="menu_link" href="#">Войти</a>
            <a class="menu_link" href="#">Город</a>
        </div>
    <div class="content">
        <div class="productCard">
            <div class="left-content">
                <img class="im" src="https://avatars.mds.yandex.net/get-mpic/5145248/img_id457064903755328.jpeg/9" alt="">
            </div>
            <div class="right-content">
                <h2>Видеокарта</h2>
                <p>Видеокарта MSI GeForce RTX 4060 Ti GAMING X SLIM разработана для плавного гейминга и полноценного погружения в виртуальный мир.
                    Графический процессор серии GeForce RTX</p>
                <h2>55000 ₽</h2>
                <button class="buy">Купить</button>
            </div>
        </div>
    </div>
</body>
</html>
