{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>
<div class="body">
    <div class="menu">
        <a class="menu_link" href="#">Адреса</a>
        <a class="menu_link" href="#">Скидки</a>
        <a class="menu_link" href="#">Войти</a>
        <a class="menu_link" href="#">Город</a>
    </div>
    <div class="content">
        <div class="cart">
            <h2>Видеокарта MSI RTX4060Ti GAMING X</h2>
            <img src="https://c.dns-shop.ru/thumb/st4/fit/wm/0/0/4c8ee240c25de1dd692b5f8fc99580be/b15e801acca4122bf7adc58bbf105afdf075e1f0b743aa06813116a7958cab10.jpg" alt="">
            <p>Видеокарта MSI GeForce RTX 4060 Ti GAMING X SLIM разработана для плавного гейминга и полноценного погружения
                в виртуальный мир. Графический процессор серии GeForce RTX</p>
            <button class="buy">Купить</button>
        </div>
           <div class="cart">
            <h2>Тетрадь 96 листов в клетку.</h2>
            <img src="https://avatars.mds.yandex.net/get-mpic/11211847/2a0000018e60208c2691f5b3b828f7dea5b0/600x800" alt="">
            <p>LAMARK0099 Тетрадь Delight Time на спирали, А4, 96 листов, клетка, обложка картон с уф-лаком, цвет манго подойдет для различных записей: учебы, паролей, черновика и для дневника.</p>
            <button class="buy">Купить</button>
        </div>
        <div class="cart">
            <h2>Процессор Intel Core i5-13400F OEM.</h2>
            <img src="https://c.dns-shop.ru/thumb/st4/fit/wm/0/0/3551c8f793d3d9a2e57ecb7cf0e06f57/3e3dd5a285f6b785b05a754c143a26e42f4b85e0ac8bca212ecabaf3df8cad78.jpg" alt="">
            <p>Процессор Intel Core i5-13400F располагает встроенным контроллером PCI-E 5.0 с 20 линиями.
                Техпроцесс 7 нм обеспечивает высокую энергоэффективность и повышенный уровень производительности.</p>
            <button class="buy">Купить</button>
        </div>
    </div>
</div>