{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>
<div class="body">
    <div class="menu">
        <a class="menu_link" href="#">Адреса</a>
        <a class="menu_link" href="#">Скидки</a>
        <a class="menu_link" href="#">Войти</a>
        <a class="menu_link" href="#">Город</a>
    </div>
    <div class="content">
        <div class="cart">
            <h2>Видеокарта MSI RTX4060Ti GAMING X</h2>
            <img src="https://avatars.mds.yandex.net/get-mpic/3721790/2a0000018a82d3955e10c820f1737b35fc73/90x120" alt="">
            <p>Видеокарта MSI GeForce RTX 4060 Ti GAMING X SLIM разработана для плавного гейминга и полноценного погружения
                в виртуальный мир. Графический процессор серии GeForce RTX</p>
            <a class="buy" href="https://ya.ru/">Купить</a>
        </div>
           <div class="cart">
            <h2>Тетрадь 96 листов в клетку.</h2>
            <img src="https://avatars.mds.yandex.net/get-mpic/11211847/2a0000018e60208c2691f5b3b828f7dea5b0/600x800" alt="">
            <p>LAMARK0099 Тетрадь Delight Time на спирали, А4, 96 листов, клетка, обложка картон с уф-лаком, цвет манго подойдет для различных записей: учебы, паролей, черновика и для дневника.</p>
            <a class="buy" href="https://ya.ru/">Купить</a>
        </div>
        <div class="cart">
            <h2>Процессор Intel Core i5-13400F OEM.</h2>
            <img src="https://avatars.mds.yandex.net/get-mpic/1925356/2a0000018a709063fc4e8e6bb1df11dde3dd/orig" alt="">
            <p>Процессор Intel Core i5-13400F располагает встроенным контроллером PCI-E 5.0 с 20 линиями, гарантирующими высокую пропускную способность.
                Техпроцесс 7 нм обеспечивает высокую энергоэффективность чипсета и повышенный уровень производительности для сборки ПК. </p>
            <a class="buy" href="https://ya.ru/">Купить</a>
        </div>
    </div>
</div>