<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <title>payment</title>
</head>
<body>
    <div class="menu">
        <a class="menu_link" href="#">Адрес</a>
        <a class="menu_link" href="#">Скидки</a>
        <a class="menu_link" href="#">Войти</a>
        <a class="menu_link" href="#">Город</a>
    </div>
    <div class="PayContent">
        <h2>Товар: Видеокарта</h2>
        <h2>К оплате: 200 руб.</h2>
        <h2>Реквизиты для перевода:</h2>
        <p class="PayText">+75844542342</p>
        <p class="PayText">Иванов Иван Иванович</p>

        <form class="inputContent">
            {% csrf_token %}
            <label for="">Адрес:</label>
            <input type="text" name="address">
             <label for="">Ваше ФИО:</label>
            <input type="text" name="fullname">
            <label for="">Ваш телефон:</label>
            <input type="text" name="phone">
        </form>
        <a href="/success">
        <button class="PayBut">Оплатить</button>
    </div>
</body>
</html>