<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buypage</title>
</head>
<body>
        <div class="menu">
            <a class="menu_link" href="#">Адреса</a>
            <a class="menu_link" href="#">Скидки</a>
            <a class="menu_link" href="#">Войти</a>
            <a class="menu_link" href="#">Город</a>
        </div>
    <div class="content">
        <div class="productCard">
            <img src="https://avatars.mds.yandex.net/get-mpic/3721790/2a0000018a82d3955e10c820f1737b35fc73/90x120" alt="">
        </div>
    </div>
</body>
</html>
