<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <title>Success</title>
</head>
<body>
   <div class="menu">
        <a class="menu_link" href="#">Адрес</a>
        <a class="menu_link" href="#">Скидки</a>
        <a class="menu_link" href="#">Войти</a>
        <a class="menu_link" href="#">Город</a>
    </div>
    <div class="textSuccess">
        <h1>Поздравляю с покупкой!</h1>
        <h2>После подтверждения оплаты, ваш товар будет отправлен по указанному адресу </h2>
    </div>
</body>
<script>
    setTimeout(() => {
    document.location = '/';
    }, 3000);
</script>
</html>