<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <title>Success</title>
</head>
<body>
   <div class="menu">
        <a class="menu_link" href="http://127.0.0.1:8000/">Главная</a>
        <a class="menu_link" href="#">Скидки</a>
        <a class="menu_link" href="#">Войти</a>
        <a class="menu_link" href="#">Город</a>
    </div>
    <div class="textSuccess">
        <h1>Поздравляю с покупкой!</h1>
        <h2>После подтверждения оплаты, ваш товар будет отправлен по указанному адресу </h2>
        <img src="https://avatars.mds.yandex.net/i?id=8488e123b018efdc9fe94f76560a505363594135-5161315-images-thumbs&n=13">
    </div>
</body>
<script>
    setTimeout(() => {
    document.location = '/';
    }, 3000);
</script>
</html>